[base]
name=CentOS-$releasever - Base
baseurl={{ centos_repo }}/$releasever/os/$basearch/
gpgcheck=1
gpgkey={{ centos_repo }}/RPM-GPG-KEY-CentOS-7

#released updates 
[updates]
name=CentOS-$releasever - Updates
baseurl={{ centos_repo }}/$releasever/updates/$basearch/
gpgcheck=1
gpgkey={{ centos_repo }}/RPM-GPG-KEY-CentOS-7

#additional packages that may be useful
[extras]
name=CentOS-$releasever - Extras
baseurl={{ centos_repo }}/$releasever/extras/$basearch/
gpgcheck=1
gpgkey={{ centos_repo }}/RPM-GPG-KEY-CentOS-7

#additional packages that extend functionality of existing packages
[centosplus]
name=CentOS-$releasever - Plus
baseurl={{ centos_repo }}/$releasever/centosplus/$basearch/
gpgcheck=1
enabled=0
gpgkey={{ centos_repo }}/RPM-GPG-KEY-CentOS-7